.name {
    background-color: $dull-pink;
    @include position(flex, normal, center);
    max-width: 1600px;
    min-width: 1280px;
    height: 764px;
    margin: 0 auto;
    position: relative;

    @include tablet {
        height: 369px;
        max-width: 768px;
        min-width: 768px;
    }

    @include mobile {
        justify-content: center;
        height: 375px;
        width: 100%;
    }
}

.name__img {
    max-width: 800px;
    height: auto;

    @include tablet {
        width: 385px;
    }

    @include mobile {
        display: none;
    }
}

.branch {
    width: 12px;
    height: 92px;
    background-color: $deep-pink;
    margin: 0 16px 0 64px;
    
    @include tablet {
        margin-left: 40px;
    }

    @include mobile {
        height: 62px;
        margin-left: 56px;
    }
}

.name__title {
    text-transform: uppercase;
    @include font-settings(32px, 700, $nice-black);
    min-width: 377px;

    @include tablet {
        font-size: 24px;
        min-width: 283px;
    }

    @include mobile {
        font-size: 20px;
        min-width: 236px;
    }
}

.the-brand {
    font-size: 48px;
    font-weight: 900;
    
    @include tablet {
        font-size: 44px;
    }

    @include mobile {
        font-size: 38px;
    }
}

.fashion {
    color: $deep-pink;
}